.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 45rem;
  min-height: 100vh;
  margin: 0 auto;

  &__title {
    @include text-body;

    margin: 0 0 4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 34rem;
    padding: 5rem 3rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    background-color: #5182ff08;
  }

  &__link {
    @include text-link;
    @include text-decoration;

    color: $color_accent;
    margin-top: 2.4rem;
  }
}
