.btn {
  padding: 0;
  border: 0;
  background: transparent;
  user-select: none;

  &.default {
    @include text-btn;

    width: 100%;
    max-width: 28rem;
    margin-top: 16rem;
    padding: 1.2rem 7rem;
    border-radius: 8px;
    color: $color_text;
    background-color: $color_accent;
    cursor: pointer;
    transition: opacity $transition-default;

    @include hover {
      opacity: 0.75;
    }
  }

  &.chat {
    @include box(2.8rem);

    position: relative;
    border-radius: 100%;
    background-color: $color_accent;
    overflow: hidden;

    @include hover {
      &::after {
        transform: translate(150%, -50%);
      }

      &::before {
        transform: translate(-50%, -50%);
      }
    }

    &::after, &::before {
      @include box(1rem);

      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='5.19995' width='11' height='1.6' fill='%23F5F5F5'/%3E%3Cpath d='M7 1L11 6L7 11' stroke='%23F5F5F5' stroke-width='1.6'/%3E%3C/svg%3E%0A");
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      transition: transform $transition-default;
      content: ''
    }

    &::after {
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-250%, -50%);
    }
  }

  &._low-margin {
    margin-top: 2.4rem;

    &:first-of-type {
      margin-top: 5rem;
    }
  }
}
