<%- include('../layout/head.ejs', { title: '404' }); %>

<main>
    <section class="app-section">
        <h1 class="app-section__title">404</h1>
        <p class="app-section__subtitle">Не туда попали</p>
        <a class="app-section__link" href="index.ejs">Назад к чатам</a>
    </section>
</main>

<%- include('../layout/foot.ejs'); %>
