<%- include('../layout/head.ejs'); %>
<% const testEjs = [
    {
        title: 'test'
    },
    {
        title: 'test'
    },
    {
        title: 'test'
    },
    {
        title: 'test'
    }
] %>

<% testEjs.forEach(({ title }, index) => {  %>
    <p><%- title %> #<%- index %> chat page</p>
<% }) %>

<%- include('../layout/foot.ejs'); %>
