<%- include('../layout/head.ejs', { title: 'Серверная ошибка' }); %>

<main>
    <section class="app-section">
        <h1 class="app-section__title">500</h1>
        <p class="app-section__subtitle">Уже фиксим</p>
        <a class="app-section__link" href="index.ejs">Назад к чатам</a>
    </section>
</main>

<%- include('../layout/foot.ejs'); %>
