<%- include('../layout/head.ejs', { title: 'Авторизация' }); %>

<% const fields = [
    {
        id: 'login',
        type: 'text',
        label: 'Логин',
        error: 'Введите логин',
        inputName: 'login',
        required: true
    },
    {
        id: 'password',
        type: 'password',
        label: 'Пароль',
        error: 'Введите пароль',
        inputName: 'password',
        required: true
    }
] %>

<% const btn = {
    title: 'Войти',
    type: 'submit',
    className: 'btn default'
} %>

<main>
    <div class="auth">
        <form class="auth__form">
            <h1 class="auth__title">Вход</h1>
            <%- include('../modules/field.ejs', { fields }); %>
            <%- include('../modules/btn.ejs', { btn }); %>
            <a class="auth__link" href="#">Нет аккаунта?</a>
        </form>
    </div>
</main>

<%- include('../layout/foot.ejs'); %>
