<%- include('../layout/head.ejs', { title: 'Регистрация' }); %>

<% const fields = [
    {
        id: 'email',
        type: 'email',
        label: 'Почта',
        error: 'Введите почту',
        inputName: 'email',
        required: true
    },
    {
        id: 'login',
        type: 'text',
        label: 'Логин',
        error: 'Введите логин',
        inputName: 'login',
        required: true
    },
    {
        id: 'firstname',
        type: 'text',
        label: 'Имя',
        error: 'Введите имя',
        inputName: 'first_name',
        required: true
    },
    {
        id: 'lastname',
        type: 'text',
        label: 'Фамилия',
        error: 'Введите фамилию',
        inputName: 'second_name',
        required: true
    },
    {
        id: 'tel',
        type: 'tel',
        label: 'Телефон',
        error: 'Введите телефон',
        inputName: 'phone',
        required: true
    },
    {
        id: 'password',
        type: 'password',
        label: 'Пароль',
        error: 'Введите пароль',
        inputName: 'password',
        required: true
    },
    {
        id: 'password-repeat',
        type: 'password',
        label: 'Повторите пароль',
        error: 'Пароли не совпадают',
        inputName: 'password-repeat',
        required: true
    }
] %>

<% const btn = {
    title: 'Зарегистрироваться',
    type: 'submit',
    className: 'btn default _low-margin'
} %>

<main>
    <div class="auth">
        <form class="auth__form">
            <h1 class="auth__title">Регистрация</h1>
            <%- include('../modules/field.ejs', { fields }); %>
            <%- include('../modules/btn.ejs', { btn }); %>
            <a class="auth__link" href="sign-in.ejs">Войти</a>
        </form>
    </div>
</main>

<%- include('../layout/foot.ejs'); %>
