.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  &__title {
    @include h1;

    margin: 0;
  }

  &__subtitle {
    @include text-body;

    margin: 2rem 0 0;
  }

  &__link {
    @include text-link;
    @include text-decoration;

    color: $color_accent;
    margin-top: 7rem;
  }
}
